n8n/google_ads_workflow.json
{
  "name": "Google Ads — Otimização",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "gads-001",
      "name": "Trigger 7h (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "path": "aprovar-google-ads",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "gads-002",
      "name": "Webhook Aprovação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 500],
      "webhookId": "aprovar-google-ads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.170.137:8000/analyze/google-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"date_range\": \"LAST_7_DAYS\" }",
        "options": { "timeout": 600000 }
      },
      "id": "gads-003",
      "name": "Analisar Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: '120363423820098780@g.us', text: $('Analisar Google Ads').item.json.actions_text + '\\n\\n━━━━━━━━━━━━━━━━━━━\\n✅ Para APROVAR, clique:\\nhttps://n8n.impulsionatm.com.br/webhook/aprovar-google-ads?session_id=' + $('Analisar Google Ads').item.json.session_id + '\\n\\n❌ Para REJEITAR, ignore esta mensagem.' }) }}",
        "options": {}
      },
      "id": "gads-004",
      "name": "WhatsApp — Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://31.97.170.137:8000/execute/{{ $('Webhook Aprovação').item.json.query.session_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "options": { "timeout": 600000 }
      },
      "id": "gads-006",
      "name": "Executar Ações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Google Ads — Execução Concluída*\\n\\n📊 Contas: {{ $('Executar Ações').item.json.accounts.length }}\\n🚀 Modo: PRODUÇÃO\\n\\n_Otimizações aplicadas com sucesso!_\"\n}",
        "options": {}
      },
      "id": "gads-007",
      "name": "WhatsApp — Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 600]
    },
    {
      "parameters": {},
      "id": "gads-008",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 780]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA — Google Ads*\\n\\nErro: {{ $json.error.message }}\\nVerifique o N8N.\"\n}",
        "options": {}
      },
      "id": "gads-009",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 780]
    }
  ],
  "connections": {
    "Trigger 7h (Seg-Sex)": {
      "main": [[{ "node": "Analisar Google Ads", "type": "main", "index": 0 }]]
    },
    "Analisar Google Ads": {
      "main": [[{ "node": "WhatsApp — Proposta", "type": "main", "index": 0 }]]
    },
    "Webhook Aprovação": {
      "main": [[
        { "node": "Executar Ações", "type": "main", "index": 0 }
      ]]
    },
    "Executar Ações": {
      "main": [[{ "node": "WhatsApp — Confirmação", "type": "main", "index": 0 }]]
    },
    "Error Trigger Global": {
      "main": [[{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 660,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "google-ads", "automacao"]
}
