n8n/google_ads_workflow.json
{
  "name": "Agente Google Ads — Otimização Diária",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "gads-0001",
      "name": "Trigger 7h (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.170.137:8000/analyze/google-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"date_range\": \"LAST_7_DAYS\" }",
        "options": { "timeout": 600000 }
      },
      "id": "gads-0002",
      "name": "Analisar Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"{{ $('Analisar Google Ads').item.json.actions_text }}\\n\\n✅ *Aprovar execução:*\\n{{ $('Aguardar Aprovação').item.json.resumeUrl }}\\n\\n⏱ Aguardando sua aprovação por 2 horas.\"\n}",
        "options": {}
      },
      "id": "gads-0003",
      "name": "WhatsApp — Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "aprovar-google-ads"
        }
      },
      "id": "gads-0004",
      "name": "Aguardar Aprovação",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300],
      "webhookId": "aprovar-google-ads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://31.97.170.137:8000/execute/{{ $('Analisar Google Ads').item.json.session_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "options": { "timeout": 600000 }
      },
      "id": "gads-0005",
      "name": "Executar Ações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Google Ads — Execução Concluída*\\n\\n📊 Contas processadas: {{ $('Executar Ações').item.json.accounts.length }}\\n🚀 Modo: PRODUÇÃO\\n\\n_Ações executadas com sucesso!_\"\n}",
        "options": {}
      },
      "id": "gads-0006",
      "name": "WhatsApp — Executado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {},
      "id": "gads-0007",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA — Workflow Google Ads*\\n\\nErro: {{ $json.error.message }}\\nExecução: {{ $json.executionId }}\\n\\nVerifique o N8N.\"\n}",
        "options": {}
      },
      "id": "gads-0008",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 560]
    }
  ],
  "connections": {
    "Trigger 7h (Seg-Sex)": {
      "main": [[{ "node": "Analisar Google Ads", "type": "main", "index": 0 }]]
    },
    "Analisar Google Ads": {
      "main": [[{ "node": "Aguardar Aprovação", "type": "main", "index": 0 }]]
    },
    "Aguardar Aprovação": {
      "main": [[{ "node": "WhatsApp — Proposta", "type": "main", "index": 0 }]]
    },
    "WhatsApp — Proposta": {
      "main": [[{ "node": "Executar Ações", "type": "main", "index": 0 }]]
    },
    "Executar Ações": {
      "main": [[{ "node": "WhatsApp — Executado", "type": "main", "index": 0 }]]
    },
    "Error Trigger Global": {
      "main": [[{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 7200,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "google-ads", "automacao"]
}
