n8n/google_ads_workflow.json
{
  "name": "Agente Google Ads — Otimização Diária",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "gads-0001",
      "name": "Trigger 7h (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.170.137:8000/optimize/google-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "impulsiona-agente-ads-2026-seguro"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"date_range\": \"LAST_7_DAYS\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "gads-0002",
      "name": "Rodar Agente Google Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "gads-0003",
      "name": "Sucesso ou Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Google Ads — Otimização Concluída*\\n\\n📊 Contas processadas: {{ $('Rodar Agente Google Ads').item.json.accounts.length }}\\n🔧 Modo: {{ $('Rodar Agente Google Ads').item.json.dry_run ? 'DRY-RUN ✋' : 'PRODUÇÃO 🚀' }}\\n\\n_Verifique os logs para detalhes das ações tomadas._\"\\n}",
        "options": {}
      },
      "id": "gads-0004",
      "name": "WhatsApp — Sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *ERRO — Agente Google Ads*\\n\\nStatus: {{ $('Rodar Agente Google Ads').item.json.status }}\\nDetalhe: {{ $('Rodar Agente Google Ads').item.json.error }}\\n\\n_Verifique os logs da API._\"\n}",
        "options": {}
      },
      "id": "gads-0005",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420]
    },
    {
      "parameters": {},
      "id": "gads-0006",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA CRÍTICA — Workflow Google Ads*\\n\\nErro: {{ $json.error.message }}\\nExecução: {{ $json.executionId }}\\n\\nVerifique o N8N imediatamente.\"\n}",
        "options": {}
      },
      "id": "gads-0007",
      "name": "WhatsApp — Falha Crítica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    }
  ],
  "connections": {
    "Trigger 7h (Seg-Sex)": {
      "main": [[{ "node": "Rodar Agente Google Ads", "type": "main", "index": 0 }]]
    },
    "Rodar Agente Google Ads": {
      "main": [[{ "node": "Sucesso ou Erro?", "type": "main", "index": 0 }]]
    },
    "Sucesso ou Erro?": {
      "main": [
        [{ "node": "WhatsApp — Sucesso", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger Global": {
      "main": [[{ "node": "WhatsApp — Falha Crítica", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 660,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "google-ads", "automacao"]
}
