n8n/google_ads_aprovacao.json
{
  "name": "Google Ads — 2. Aprovar e Executar",
  "nodes": [
    {
      "parameters": {
        "path": "aprovar-google-ads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gads-b-001",
      "name": "Webhook Aprovação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "aprovar-google-ads"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "✅ Aprovado! As ações do Google Ads estão sendo executadas. Você receberá uma confirmação no WhatsApp em breve.",
        "options": {}
      },
      "id": "gads-b-002",
      "name": "Resposta HTTP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://31.97.170.137:8000/execute/{{ $('Webhook Aprovação').item.json.query.session_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "options": { "timeout": 600000 }
      },
      "id": "gads-b-003",
      "name": "Executar Ações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Google Ads — Execução Concluída*\\n\\n📊 Contas processadas: {{ $('Executar Ações').item.json.accounts.length }}\\n🚀 Modo: PRODUÇÃO\\n\\n_As otimizações foram aplicadas com sucesso!_\"\n}",
        "options": {}
      },
      "id": "gads-b-004",
      "name": "WhatsApp — Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 380]
    },
    {
      "parameters": {},
      "id": "gads-b-005",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "1EC47F97E146-4487-8575-875E43229803" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA — Google Ads Execução*\\n\\nErro: {{ $json.error.message }}\\nVerifique o N8N.\"\n}",
        "options": {}
      },
      "id": "gads-b-006",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 560]
    }
  ],
  "connections": {
    "Webhook Aprovação": {
      "main": [
        [
          { "node": "Resposta HTTP", "type": "main", "index": 0 },
          { "node": "Executar Ações", "type": "main", "index": 0 }
        ]
      ]
    },
    "Executar Ações": {
      "main": [[{ "node": "WhatsApp — Confirmação", "type": "main", "index": 0 }]]
    },
    "Error Trigger Global": {
      "main": [[{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 660,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "google-ads", "automacao"]
}
