n8n/meta_ads_workflow.json
{
  "name": "Agente Meta Ads — Otimização Diária",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1-5"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Trigger Diário 7h30 (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-api:8000/optimize/meta-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.API_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ad_account_id\": \"{{ $vars.META_AD_ACCOUNT_ID }}\",\n  \"date_preset\": \"last_7d\",\n  \"dry_run\": false\n}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Rodar Agente Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Sucesso ou Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "impulsionanumber3",
        "remoteJid": "120363423820098780@g.us",
        "messageText": "=✅ *Agente Meta Ads — Concluído*\n\n📊 Ações executadas: {{ $('Rodar Agente Meta Ads').item.json.actions }}\n🔧 Modo: {{ $('Rodar Agente Meta Ads').item.json.dry_run ? 'DRY-RUN' : 'PRODUÇÃO' }}\n\n{{ $('Rodar Agente Meta Ads').item.json.summary }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "WhatsApp — Sucesso",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [960, 180],
      "credentials": {
        "evolutionApi": {
          "name": "impulsionanumber3"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "impulsionanumber3",
        "remoteJid": "120363423820098780@g.us",
        "messageText": "=🚨 *ERRO — Agente Meta Ads*\n\nStatus: {{ $('Rodar Agente Meta Ads').item.json.status }}\nMotivo: {{ $('Rodar Agente Meta Ads').item.json.error }}\n\n_Verifique os logs da API._"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [960, 420],
      "credentials": {
        "evolutionApi": {
          "name": "impulsionanumber3"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "instanceName": "impulsionanumber3",
        "remoteJid": "120363423820098780@g.us",
        "messageText": "=🚨 *FALHA CRÍTICA — Workflow Meta Ads*\n\nErro: {{ $json.error.message }}\nExecução: {{ $json.executionId }}\n\nVerifique o N8N imediatamente."
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "WhatsApp — Falha Crítica",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [480, 560],
      "credentials": {
        "evolutionApi": {
          "name": "impulsionanumber3"
        }
      }
    }
  ],
  "connections": {
    "Trigger Diário 7h30 (Seg-Sex)": {
      "main": [
        [{ "node": "Rodar Agente Meta Ads", "type": "main", "index": 0 }]
      ]
    },
    "Rodar Agente Meta Ads": {
      "main": [
        [{ "node": "Sucesso ou Erro?", "type": "main", "index": 0 }]
      ]
    },
    "Sucesso ou Erro?": {
      "main": [
        [{ "node": "WhatsApp — Sucesso", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [{ "node": "WhatsApp — Falha Crítica", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 360,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "meta-ads", "automacao"]
}
