n8n/meta_ads_workflow.json
{
  "name": "Meta Ads — Otimização",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1-5"
            }
          ]
        }
      },
      "id": "meta-001",
      "name": "Trigger 7h30 (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 200]
    },
    {
      "parameters": {
        "path": "aprovar-meta-ads",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "meta-002",
      "name": "Webhook Aprovação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 500],
      "webhookId": "aprovar-meta-ads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.170.137:8000/analyze/meta-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"date_preset\": \"last_7d\" }",
        "options": { "timeout": 600000 }
      },
      "id": "meta-003",
      "name": "Analisar Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: '120363423820098780@g.us', text: ($('Analisar Meta Ads').item.json.actions_text || '⚠️ Sem ações para exibir') + '\\n\\n━━━━━━━━━━━━━━━━━━━\\n✅ Para APROVAR, clique:\\nhttps://n8n.impulsionatm.com.br/webhook/aprovar-meta-ads?session_id=' + $('Analisar Meta Ads').item.json.session_id + '\\n\\n❌ Para REJEITAR, ignore esta mensagem.' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "meta-004",
      "name": "WhatsApp — Proposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://31.97.170.137:8000/execute/{{ $('Webhook Aprovação').item.json.query.session_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "impulsiona-agente-ads-2026-seguro" }
          ]
        },
        "options": { "timeout": 600000 }
      },
      "id": "meta-006",
      "name": "Executar Ações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Meta Ads — Execução Concluída*\\n\\n📊 Contas: {{ ($('Executar Ações').item.json.accounts || []).length }}\\n🚀 Modo: PRODUÇÃO\\n\\n_Otimizações aplicadas com sucesso!_\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "meta-007",
      "name": "WhatsApp — Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 600]
    },
    {
      "parameters": {},
      "id": "meta-008",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 780]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "0ad361c63b3afb50cf98795c001a41b9" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA — Meta Ads*\\n\\nErro: {{ ($json.error && $json.error.message) || $json.message || JSON.stringify($json).substring(0, 200) }}\\nVerifique o N8N.\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "meta-009",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 780]
    }
  ],
  "connections": {
    "Trigger 7h30 (Seg-Sex)": {
      "main": [[{ "node": "Analisar Meta Ads", "type": "main", "index": 0 }]]
    },
    "Analisar Meta Ads": {
      "main": [[{ "node": "WhatsApp — Proposta", "type": "main", "index": 0 }]]
    },
    "Webhook Aprovação": {
      "main": [[
        { "node": "Executar Ações", "type": "main", "index": 0 }
      ]]
    },
    "Executar Ações": {
      "main": [[{ "node": "WhatsApp — Confirmação", "type": "main", "index": 0 }]]
    },
    "Error Trigger Global": {
      "main": [[{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 900,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "meta-ads", "automacao"]
}
