n8n/otimizacao_diaria.json
{
  "name": "Agente de Ads — Otimização Diária (Todas as Contas)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "node-0001",
      "name": "Trigger Diário 7h (Seg-Sex)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://31.97.170.137:8000/optimize/all",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "impulsiona-agente-ads-2026-seguro"
            }
          ]
        },
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-0002",
      "name": "Rodar Todos os Agentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.google_ads }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-0003",
      "name": "Sucesso ou Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1EC47F97E146-4487-8575-875E43229803"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"✅ *Agente de Ads — Concluído* \\n\\n📊 Google Ads: {{ $('Rodar Todos os Agentes').item.json.google_ads.length }} conta(s) processada(s)\\n📘 Meta Ads: {{ $('Rodar Todos os Agentes').item.json.meta_ads.length }} conta(s) processada(s)\\n🔧 Modo: DRY-RUN\\n\\n_Verifique os logs para detalhes das ações._\"\n}",
        "options": {}
      },
      "id": "node-0004",
      "name": "WhatsApp — Sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1EC47F97E146-4487-8575-875E43229803"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *ERRO — Agente de Ads*\\n\\nFalha ao executar a otimização.\\n\\n_Acesse os logs da API para detalhes._\"\n}",
        "options": {}
      },
      "id": "node-0005",
      "name": "WhatsApp — Erro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 420]
    },
    {
      "parameters": {},
      "id": "node-0006",
      "name": "Error Trigger Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.impulsionatm.com.br/message/sendText/impulsionanumber3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "1EC47F97E146-4487-8575-875E43229803"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"120363423820098780@g.us\",\n  \"text\": \"🚨 *FALHA CRÍTICA — Workflow Agente de Ads*\\n\\nErro: {{ $json.error.message }}\\nExecução: {{ $json.executionId }}\\n\\nVerifique o N8N imediatamente.\"\n}",
        "options": {}
      },
      "id": "node-0007",
      "name": "WhatsApp — Falha Crítica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    }
  ],
  "connections": {
    "Trigger Diário 7h (Seg-Sex)": {
      "main": [
        [{ "node": "Rodar Todos os Agentes", "type": "main", "index": 0 }]
      ]
    },
    "Rodar Todos os Agentes": {
      "main": [
        [{ "node": "Sucesso ou Erro?", "type": "main", "index": 0 }]
      ]
    },
    "Sucesso ou Erro?": {
      "main": [
        [{ "node": "WhatsApp — Sucesso", "type": "main", "index": 0 }],
        [{ "node": "WhatsApp — Erro", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger Global": {
      "main": [
        [{ "node": "WhatsApp — Falha Crítica", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 660,
    "timezone": "America/Sao_Paulo"
  },
  "tags": ["ads", "google-ads", "meta-ads", "automacao"]
}
